.videoHome {
  width: 100%; /* Asegura que el video ocupe todo el ancho */
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 500px; /* Ajusta este valor según tus necesidades */
  object-fit: cover; /* Asegura que el contenido del video se ajuste correctamente */
}
